@import '~material-design-icons/iconfont/material-icons.css';

.timeline--wrapper {
  padding: 0;
}

.timeline_wrapper h1 {
  font-weight: 500;
  color: #40589A;
}

.timeline{
  margin: 50px auto 120px auto;
}