.our-team {
  width: 100%;
  margin-bottom: 120px;
}

.our-team__title {
  margin: 20px 0;
  font-size: 2rem;
  margin-bottom: 45px;
}

.our-team__title span {
  color: #40589A;
}

.our-team__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-team__item {
  display: inline-block;
  width: 135px;
  height: 265px;
  text-align: center;
  box-shadow: 0 10px 16px rgba(0, 0, 0, .26);
  margin: 9px;
  transition: box-shadow .2s ease;
  overflow: hidden;
}

.our-team__item:hover {
  transform: scale(1.2, 1.2);
  .footer_inf{
    display:block;
    color:#000;
    font-size:0.7rem;
    text-align:left;
    margin: 0px 1.4rem;
    &:last-child{
      margin-bottom:0;
    }
  }
  .our-team__item{
    background-color:#000;
  }
  .avatar{
    margin-bottom:0;
    display:none;
  }
  .card-title, .card-subtitle{
    display:none;
  }
}

.our-team__item:first-child {
  margin-left: 0;
}

.our-team__item:last-child {
  margin-right: 0;
}

#our-team__gitIcon {
  margin: 10px 0;
  width: 30%;
  border-radius: 50%;
}

#our-team__gitIcon:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transition: box-shadow .2s ease;
}
.footer_inf{
  display:none;
}

@media (max-width: 945px) {

  .our-team__item,
  .our-team__item:first-child,
  .our-team__item:last-child {
    margin: 9px;
  }
}

@media (max-width: 340px) {

  .our-team__list {
    justify-content: center;
  }
  .our-team__title {
    text-align: center;
  }
}